.container {
    display: flex;
    background-color: red;
}

.dayTwo {
    background-color: blue;
}

.dayThree {
    background-color: green;
}

.dayFour {
    background-color: purple;
}

.dayFive {
    background-color: orange;
}